In [7]:
str_a="hello world"
str_b="hello good morning"
str_c="hello"
print(str_a)
print(str_b)
print(str_c)
str_a[4]
str_b[0]
str_b[3:18:2]
str_b[0:5:3]

hello world
hello good morning
hello

'hl'

In [8]:
int_a=10
int_b=12

float_a=10.4
float_b=100.4

complex_a=3j
complex_b=6+7j

print(int_a)
print(float_a)
print(complex_b)

10
10.4
(6+7j)

In [9]:
a=float(10)
a

10.0

In [10]:
b=int(199.0)
b

199

In [11]:
type(float_a)

float

In [24]:
list_a=[1,2,3,53,10]
list_b=[1,2,3,53,10]

tuples_a=('hello',34,59.0,4+7j)
tuples_b=('this'"has","multiple","strings")

In [28]:
print(type(list_a))
print(type(tuples_b))
list_a[0]=45
list_a
list_b[3]=67
list_b[4]="hello this worls is for you"
list_b
tuple_a[2]="this throw an error"
list_a[0]

<class 'list'>
<class 'tuple'>

NameError: name 'tuple_a' is not defined

In [33]:
list_a=[45,25,98,14,76]
list_a[0]
list_a[1:100:2]

[25, 14]

In [39]:
list_b=[12,14,67,93,86]
list_b[-2]

93

In [43]:
tuplse=(12,23,14,76,87)
tuplse[::-2]

(87, 14, 12)

In [49]:
list_a.append('mumbai')
list_a.extend(list_b)
list_a

[45,
 25,
 98,
 14,
 76,
 'mumbai',
 'mumbai',
 'mumbai',
 'mumbai',
 12,
 14,
 67,
 93,
 86,
 'mumbai',
 12,
 14,
 67,
 93,
 86,
 'mumbai',
 12,
 14,
 67,
 93,
 86]

In [52]:
list_c=[21,22,23,76,98]
list_c.pop(0)
list_c

[22, 23, 76, 98]

In [53]:
bool_a=True
bool_b=False

In [56]:
dict_a={'key':12, "key_2":45.00}
dict_b={'name':'jay','age':17, "key_2":'surat'}
print(dict_a)
print(dict_b)
dict_b.pop('age')
dict_b

{'key': 12, 'key_2': 45.0}
{'name': 'jay', 'age': 17, 'key_2': 'surat'}

{'name': 'jay', 'key_2': 'surat'}

In [62]:
set_a={"a","b","b","b",20.8,1,a+4j}
set_a
set_a.add('temprarure')
#set_a.append('temprarure') do not supprot the append 
set_a

AttributeError: 'set' object has no attribute 'append'

In [65]:
frozen_a=frozenset(["Frankfruit","Basel","freigburg"])
frozen_a
frozen_a.add("hello")# does not support any update

AttributeError: 'frozenset' object has no attribute 'add'

In [66]:
list_a=['sunday',"monday","tuesday","friday","Thurday","wednesday"]
for day in list_a:
    print(day)

sunday
monday
tuesday
friday
Thurday
wednesday

In [68]:
for day in range(1,15):
    print(day,end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14

In [69]:
dict_a={'roll_no':[12,34,22,1,23,17], 'mark':[52,33,70,69,88,61], 'subject':['marathi','marathi','marathi','marathi']}
for x in dict_a:
    print(x)

roll_no
mark
subject

In [70]:
dict_a={'roll_no':[12,34,22,1,23,17], 'mark':[52,33,70,69,88,61], 'subject':['marathi','marathi','marathi','marathi']}
for x in dict_a.items():
    print(x)

('roll_no', [12, 34, 22, 1, 23, 17])
('mark', [52, 33, 70, 69, 88, 61])
('subject', ['marathi', 'marathi', 'marathi', 'marathi'])

In [71]:
dict_a={'roll_no':[12,34,22,1,23,17], 'mark':[52,33,70,69,88,61], 'subject':['marathi','marathi','marathi','marathi']}
for x,y in dict_a.items():
    print("key:",x,"key:",y)

key: roll_no key: [12, 34, 22, 1, 23, 17]
key: mark key: [52, 33, 70, 69, 88, 61]
key: subject key: ['marathi', 'marathi', 'marathi', 'marathi']

In [72]:
temp_list=['go',"chess",'checker','minesweepwer']
game=0
while game < len(temp_list):
    print(temp_list[game])
    game=game+1

go
chess
checker
minesweepwer

In [74]:
a=50
b=60
if b>a:
    print("B is greater than a")
elif a==b:
    print("a and b are equal")
else:
    print("a is greater than b")

B is greater than a

In [75]:
var=0
while var in range(6):
    var=var+1
    if var==3:
        continue
    if var==4:
        break
    print(var)

1
2

In [80]:
temp_list="hello checker how are you"
for game in temp_list:
    if game=="checker":
        continue
    print(game, end="")

hello checker how are you

In [86]:
enumerator_items=['car',"bicycle","scooter","bus","train"]

enumerateGrocery=enumerate(enumerator_items,20)

print(type(enumerateGrocery))

print(list(enumerateGrocery))

print()

enumerateGrocery = enumerate(enumerator_items)
enumerateGrocery = enumerate(enumerator_items,20)
print(type(enumerateGrocery))
print(list(enumerateGrocery))

<class 'enumerate'>
[(20, 'car'), (21, 'bicycle'), (22, 'scooter'), (23, 'bus'), (24, 'train')]

<class 'enumerate'>
[(20, 'car'), (21, 'bicycle'), (22, 'scooter'), (23, 'bus'), (24, 'train')]

In [87]:
def even_odd(x):
    if(x%2==0):
        print("even")
    else:
        print("odd")
even_odd(10)

even

In [4]:
square=lambda x: x ** 2
print(square(10))

100

In [5]:
add=lambda x,y: x+y
print(add(19,20))

39

In [6]:
even=lambda x: x%2==0
print(even(10))

True

In [14]:
list_1=[10,20,30,89]
list_2=[40,50,60,12]
new_tuple=list(map(add,list_1,list_2))
new_tuple

[50, 70, 90, 101]

In [15]:
ans=list(map(lambda x: x+1, list_1))
ans

[11, 21, 31, 90]

In [16]:
list_of_numbers=[10,37,15,40,33,100,23,73,60]

odd_list=list(filter(lambda x:(x%2!=0),list_of_numbers))

print(odd_list)

[37, 15, 33, 23, 73]

In [17]:
negative_number=list(filter(lambda x:(x<0),range(-10,8)))
print(negative_number)

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

In [20]:
list_of_numbers=[10,37,15,40,33,100,23,73,60]
sum=reduce((lambda x,y: x+y), list_of_numbers)
print(sum)

NameError: name 'reduce' is not defined

In [23]:
from functools import reduce
list_of_numbers=[10,37,15,40,33,100,23,73,60]
sum=reduce((lambda x,y: x+y), list_of_numbers)
print(sum)

391